# Env & configs
.env
.env.example

# Dev & tooling
.venv
.pytest_cache
.ruff_cache
.mypy_cache
.git
.github
/tests
/docs
*.md
Makefile
tree.txt

# Python cache
__pycache__/
*.pyc
*.pyo

# Docker-related
.dockerignore

# Project-specific
/resources/*
!/resources/docker/services
/alembic
