# ----------------------------------------------------------------
# Application Settings
# ----------------------------------------------------------------
DEBUG=true
LOG_LEVEL="DEBUG"

# ----------------------------------------------------------------
# Bot Settings
# ----------------------------------------------------------------
BOT_TOKEN="..."

# ----------------------------------------------------------------
# Database Settings
# ----------------------------------------------------------------
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_HOST="pgbouncer"
DATABASE_PORT="6432"
DATABASE_NAME="one_log_clone"

# ----------------------------------------------------------------
# Broker Settings
# ----------------------------------------------------------------


# ----------------------------------------------------------------
# Redis Settings
# ----------------------------------------------------------------
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_PASSWORD="2345"
REDIS_DB="0"
