
# ----------------------------------------------------------------
# Application Settings
# ----------------------------------------------------------------
DEBUG=true
LOG_LEVEL="INFO"

# ----------------------------------------------------------------
# Database Settings
# ----------------------------------------------------------------
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_NAME="one_log_clone"

# ----------------------------------------------------------------
# RabbitMQ Settings
# ----------------------------------------------------------------


# ----------------------------------------------------------------
# Redis Settings
# ----------------------------------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
; REDIS_PASSWORD=
REDIS_DB=0
