# ----------------------------------------------------------------
# Application Settings
# ----------------------------------------------------------------
DEBUG=true
LOG_LEVEL="INFO"

# ----------------------------------------------------------------
# Security Settings
# ----------------------------------------------------------------
PASSWORD_HASH_TIME_COST=3    
PASSWORD_HASH_MEMORY_COST=65536   
PASSWORD_HASH_PARALLELISM=2   
PASSWORD_HASH_LENGTH=32     
PASSWORD_HASH_SALT_LENGTH=16    

# ----------------------------------------------------------------
# Bot Settings
# ----------------------------------------------------------------
BOT_TOKEN="7497694123:4jdiuf892nldk-fdsaf43fdsaf32fdsfdsd"

# ----------------------------------------------------------------
# Database Settings
# ----------------------------------------------------------------
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_NAME="one_log_clone"

# ----------------------------------------------------------------
# RabbitMQ Settings
# ----------------------------------------------------------------


# ----------------------------------------------------------------
# Redis Settings
# ----------------------------------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
; REDIS_PASSWORD=
REDIS_DB=0
